@tailwind base;
@tailwind components;
@tailwind utilities;

.wysiwyg-content h3,
.wysiwyg-content h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.wysiwyg-content table>tbody>tr>td {
  padding: 0.25rem 0.125rem;
}

.wysiwyg-content table>tbody>tr>td:first-child {
  font-weight: bold;
}

.table>tbody>tr>td,
.table>thead>tr>th {
  padding: 0.5rem;
}

.table-sm>tbody>tr>td,
.table-sm>thead>tr>th {
  padding: 0.25rem;
}